{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Plateforme d'emploi</title>
<link rel="stylesheet" href= "{% static 'css/job_list.css' %}">

</head>
<body>
    <header>
        <h1>Bienvenue sur GetAJob</h1>
        <div >
          <a href="http://127.0.0.1:8000/job/Action-admin/">Partie Admin</a>
        </div>
    </header>

    <div class="offre">
            <h2>{{ job.titre }}</h2>
            <h3>Entreprise: </h3>{{ job.nom_entreprise }}
            <h3>Lieu:</h3><p> {{ job.lieu }}</p>
            <h3>Description : </h3>
                <p></b>{{ job.description}}</p>
            <h3>Email : </h3><p>{{ job.email }}</p>
            <h3>Rémuneration :</h3>
                <p> {{ job.remuneration }}</p>
            <h3>Profil recherché :</h3>
                    <p> {{ job.profile }}</p>
            <section>
                <button class="btn-postuler" onclick="postuler({{ job.id }})">Postuler</button>
            </section>
    </div>
<section>    
    <footer>
        <p>GetAJob © 2024 . Tous droits réservés.</p>
    </footer>
</section>
<script>
function postuler(id) {
  // Redirection vers la page de candidature
  window.location.href = 'http://127.0.0.1:8000/job/postuler-'+id+'/'; 
}
</script>

</body>
</html>
