{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Selection de l'offre</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Selectionner l'offre  à {{ objet }} :</h1>
    <div class="flexbox">
        <ul>
            {% for offre in offres %} 
                <div class="caract">
                    <li><a href="job/{{objet}}-{{offre.titre}}">{{ offre.titre }}</a></li>
                </div>
            {% endfor %}
        </ul>
    </div>
    
</body>
</html>