{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Modifier une offre</title>
<link rel="stylesheet" href="{% static 'css/create_job.css' %}">

</head>
<body>

<header>
  <h1>Modifier l'offre {{ job.titre }}</h1>
</header>

<main>
  <form method="post" id="nouvelleOffreForm">
    {% csrf_token %}
    {{ form.as_p }} <!-- pour afficher les champs-->
    <button type="submit" >Modifier l'offre</button>
  </form>
</main>

<footer>
  <p>GetAJob © 2024 . Tous droits réservés.</p>
</footer>

