{% load static %}                                             
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Envoyer CV</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
  input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
  
}
</style>
</head>
<body>

<form method="post" id="cvForm" enctype="multipart/form-data">
  <h1>{{ offre }}</h1>
  {% csrf_token %}
  {{ form.as_p }} <!-- pour afficher les champs-->
  <button type="submit">Envoyer</button>
</form>

<footer>
  <p>GetAJob © 2024 . Tous droits réservés.</p>
</footer>

</body>
</html>
